h2 {
  font-weight: 600;
  font-size: 36px;
  color: #07031a;
}

p {
  font-weight: normal;
  font-size: 18px;
  text-align: justify;
}

.p-left-right {
  padding: 0 3rem;
}

.header {
  position: relative;
  height: 900px;
}
.header .navbar {
  position: relative;
  z-index: 2;
}
.header .navbar ul li .nav-link {
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}
.header .navbar ul li .nav-link:hover {
  color: wheat;
}
.header .navbar ul li .contact-btn {
  padding: 15px 35px;
  background: #fbd46d;
  font-size: 18px;
  color: #07031a;
  font-weight: bold;
}
.header .navbar ul li .contact-btn:hover {
  color: #130848;
  background: #f8c842;
}
.header .hero {
  position: absolute;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to left, rgba(7, 3, 26, 0.75), rgba(7, 3, 26, 0.75)), url(../img/home/heroBG.png);
  background-position: top center;
  background-size: cover;
  height: 100%;
  mix-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .hero-header {
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  width: 100%;
  text-align: center;
}
.header .hero .btn {
  padding: 15px 35px;
  border: 1px solid #fbd46d;
  width: 170px;
  height: 57px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.active-link {
  position: relative;
  overflow-x: hidden;
}

.active-link::after {
  content: "";
  position: absolute;
  width: 30px;
  bottom: 5px;
  left: 12px;
  border-bottom: 3px solid #fbd46d;
}

.navbar-brand {
  width: 100px;
}
.navbar-brand span {
  display: block;
  font-weight: 900;
  font-size: 19.6597px;
  line-height: 18px;
}

.portfolio .figure img {
  width: 380px;
  height: 350px;
  object-fit: cover;
  max-width: 100%;
}
.portfolio figcaption {
  font-weight: 500;
  font-size: 18px;
  color: #07031a;
}

.about-img {
  position: relative;
}
.about-img-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(7, 3, 26, 0.75);
  mix-blend-mode: multiply;
  z-index: 2;
}
.about-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.hire h6 {
  font-weight: normal;
  font-size: 24px;
  color: #07031a;
}
.hire .btn {
  background: #07031a;
  width: 165px;
  height: 57px;
  padding: 15px 25px;
}
.hire .btn a {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.footer {
  background: #1d2122;
}
.footer h3 {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 0;
  line-height: 34px;
}
.footer small {
  opacity: 0.8;
}
.footer form input {
  background: transparent;
  border: none;
  outline: none;
  opacity: 0.5;
  width: 80%;
  padding: 10px 1px;
  border-bottom: 1px solid #ffffff;
}
.footer form input::placeholder {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.footer form .btn {
  border-radius: 0;
}
.footer hr {
  border: 2px solid #fbd46d;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .align-items-center {
    -ms-flex-align: flex-start !important;
    align-items: flex-start !important;
  }

  .navbar .nav-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 575px) {
  .footer .justify-content-end {
    justify-content: flex-start !important;
  }
  .footer hr {
    width: 95%;
  }
  .footer .social {
    margin-top: 20px;
  }
  .footer .social .text-right {
    text-align: left !important;
  }
  .footer-nav {
    text-align: left !important;
  }
  .footer-nav .navbar-brand {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 530px) {
  .header .hero {
    padding: 20px;
  }
  .header .hero-header {
    font-size: 40px;
    line-height: 45px;
  }

  .p-left-right {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 420px) {
  .footer form input {
    width: 100%;
  }
}
@media screen and (max-width: 220px) {
  .header .hero-header {
    font-size: 35px;
  }
  .header .hero .btn {
    width: 100%;
  }
  .header .hero .btn a {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=home.css.map */
