*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   scroll-behavior: smooth;
}

body {
   box-sizing: border-box;
   max-width: 100%;
   overflow-x: hidden;
   font-family: "Poppins", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

h2 {
   font-weight: 600;
   font-size: 36px;
   color: #07031a;
}

p {
   font-weight: normal;
   font-size: 18px;
   text-align: justify;
}

.p-left-right {
   padding: 0 3rem;
}
